<?xml version="1.0"?>
<configuration>
   
     <connectionStrings>
      <!--<add name="mysql" connectionString="Database=jiuru;Data Source=127.0.0.1;User Id=root;Password=123456789;pooling=false;CharSet=utf8;port=3306"/>-->
       <add name="mysql" connectionString="Database=rotek;Data Source=127.0.0.1;User Id=root;Password=lntujiuru;pooling=false;CharSet=utf8;port=3306"/>
       <!--<add name="mysql" connectionString="Database=rotek;Data Source=mytestdb.mysql.rds.aliyuncs.com;User Id=myadmin;Password=myadmin;pooling=false;CharSet=utf8;port=3306"/>-->
     </connectionStrings>
  <appSettings>
    <add key="datapath" value=""></add>
  </appSettings>
  

<startup><supportedRuntime version="v2.0.50727"/></startup>

</configuration>
